#erros-comuns {
  padding: 60px 80px;
  .nav-erros ul {
    background: #fff;
    padding: 0;

    li {
      text-align: center;
      font-weight: 900;
      color: #000;
      border-bottom: 1px solid #000;
      width: 100%;
      margin: 0 auto;
      font-size: 16px;
      padding: 5px 0;
      font-weight: bold;
    }
  }

  .tab-content {
      background: #fff;
      border: none;
      border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus,
  .nav-pills > li> a:hover {
    color: #000;
    background: #F4E4E4;
  
  }

}
