$orange: #EC602F;
$theadTabela: #a3adb7;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: red;
}

.atualizacao {
  margin-right: 60px;
  // margin-bottom: -30px; 
}
.painel-box {
  margin: 0px 40px 30px 40px;
  box-shadow: 0px 0px 10px 3px rgba(122,121,122,0.05);
  outline: none;
}

.tab-content {

  background-color: #FAFAFA;
  border-top-left-radius: 27px;
  border: 10px solid white;
  border-bottom-left-radius: 27px;
  border-bottom-width: 0px;
}

.tab-content .tab-pane {
  display: none;

  padding: 1rem;
  overflow-y: auto;
}

.tab-content .active {
  display: block;
}

.painel .active {
  display: inline !important;
}


