header {
  width: 100%;  
  margin-bottom: 2em;
  text-align: center;
  -webkit-box-shadow: -2px 20px 13px -19px rgba(184, 184, 184, 0.11);
  -moz-box-shadow: -2px 20px 13px -19px rgba(184, 184, 184, 0.11);
  box-shadow: -2px 20px 13px -19px rgba(184, 184, 184, 0.11);
  

  .logo-ceweb {
    margin: 20px 0;
    width: 130px;
  }
}
